    /* center aligns the text in the body of the page */
    body {
        text-align: center;
        align-content: center;
    }
    /* sizing and font for Current Exchange Rate Conveter title */
    h2 {
        font-weight: bold;
        font-size: 25px;
        text-decoration: underline;
        color:white;
    }
    /* sizing and font for Currency Converter title */
    h3 {
        font-weight: bold;
        font-size: 25px;
        text-decoration: underline;
        color:black;
    }
    
    /* background image and sizing */
    .custHtml {
        background-image: url("https://wallpapercave.com/wp/wp7860706.jpg");
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    
    /* sizing for search box */
    .custbox {
        width:20vw;
    }
    /* search box sizing */
    .searchBox {
        margin-top: 20px;
    }    
    /* sizing and color for the fas fa-arrow icon in the search bar */
    .custFav {
        padding-top: 7px;
        font-size: 25px;
        color: rgb(249, 5, 5);
    }
    
    /* sizing and coloring for the submit buttons */
    .submitBtn {
        background-color: rgb(249, 5, 5); 
        border-style: none;
        color: white;
        width: 74px;
    }
    /* cursor for submit button */
    .submitBtn:hover {
        cursor: pointer;
    }

    /* sizing and coloring of the Local Exchange Locations boxes      */
   
    .custTitle {
        background-color: white;
        margin-left: 35%;
        margin-right: 35%;
        border-radius: 5px;
        padding: 10px;
        font-weight: bold;
        font-size: 35px;
        text-decoration: underline;
        color:black;
    }

    /* currency in put box sizing */
    .custInput {
        border-style: solid;
        width:10vw;
    }
       

    /* Padding for Local Exchange Locations boxes */
    .custSec {
        padding-bottom: 0px;
    }
    /* sizing for rates container */
    .custRatesContain {
        width: 15vw;
    }
    
    .notification {
        color:white; 
        background-color: white; 
    }
    
    /* coloring for the title */
    .title {
        color:black;
    } 

    /* coloring for the main navigation bar */
    .navbar {
        background-color: #36393f;
    }    

    /* navigation bar text coloring */
    .navbar-item {
        color:white;
    }
    
    /* .navbar-dropdown {
        background-color: #36393f;
    } */
    
    /* clear buttons sizing and coloring */
    .clearBtn { 
        background-color: blue;
        border-style: none;
        border-radius: 4px;
        color: white;
        width: 74px; 
        padding: 10px;
        font-size: 1rem;
    }
    
    /* clear button cursor */
    .clearBtn:hover {
        cursor: pointer;
    }
