body {
    text-align: center;
    align-content: center;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    color:white;
}

.custNav {

    background-color: #5865f2;
    padding: 15px;
}

.custHtml {
    background-color: #36393f;
}

.custbox {
    width:20vw;
}

.searchBox {
    margin-top: 20px;
}

.custFav {
    padding-top: 7px;
    font-size: 25px;
}

.submitBtn {
    background-color: #5865f2;
    border-style: none;
    color: white;
    width: 74px;
}

.submitBtn:hover {
    cursor: pointer;
}

.custInput {
    width:10vw;
}

.custSec {
    padding-bottom: 0px;
}

.custRatesContain {
    width: 15vw;
}

.notification {
    color:white;
    background-color:#5865f2;
}

.title {
    color:white;
}

.navbar {
    background-color: #36393f;
}

.navbar-item {
    color:white;
}

.navbar-dropdown {
    background-color: #36393f;
}
